body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333333;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1em;
}

.login-container button {
    background-color: #00509E;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #003f7e;
}

#mensaje-error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 0.9em;
}
